

.navigation{
    margin-top: 35px;
    margin-left: 115px;
}

.navigation__elem{
    display: inline-block
}

.navigation__link{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    color: #f89513;
    text-decoration: underline
}

.navigation__link_activ{
    color: #221f1f;
    text-decoration: none;
}

.navigation__link_activ::before{
    content: "/ ";
}